<article class="row">
    <section class="col-12 col-sm-12 col-md-6 text-center mb-2">
        <h1 class="font-bolder">Welcome to Elrouby <br/>
            Employee System</h1>

            <p class="text-bluemaincolor font-bold italic mt-3 mb-3">Manage Your System Now!</p>

            <p class="text-[32px] italic">Employment refers to the<br/>
                relationship between an<br/>
                individual and an organization.</p>


            <button [routerLink]="['/signin']" class="bg-bluemaincolor text-light w-[130px] h-[50px] rounded-[25px]">Sign In</button>
    </section>
    <img class="col-12 col-sm-12 col-md-6 p-0" src="employeegroup.png" alt="">
</article>