<app-navigator [Evaluation]="EnableEvaluation" [Details]="true" [Program]="true"></app-navigator>

<form #f="ngForm" ngNativeValidate class="w-fit p-3 d-flex flex-col m-auto mt-5 gap-3 text-light bg-bluemaincolor">
    <section class="d-flex gap-3">
        <section class="d-flex flex-col gap-2">
            <div class="d-flex align-items-center gap-2">
                <input minlength="3" required placeholder="Step" name="Step" id="Step" class="form-control" type="text" [ngModel]="SelectedEntity.step">
            </div>
            <div class="d-flex align-items-center gap-2">
                <textarea minlength="10" class="form-control resize-none h-[130px]" placeholder="Description" name="Description" id="Description" [ngModel]="SelectedEntity.description"></textarea>
            </div>
        </section>
        <section class="d-flex flex-col gap-2 align-items-center">
            <div class="d-flex align-items-center gap-2">
                <p class="w-[80px]">Start Date:</p>
                <input required name="StartDate" id="StartDate" class="w-[150px] border-2 border-bluemaincolor rounded-2 p-2" type="date" [ngModel]="SelectedEntity.startDate">
            </div>
            <div class="d-flex align-items-center gap-2">
                <p class="w-[80px]">End Date:</p>
                <input required name="EndDate" id="EndDate" class="w-[150px] border-2 border-bluemaincolor rounded-2 p-2" type="date" [ngModel]="SelectedEntity.endDate">
            </div>
            <div class="d-flex align-items-center gap-2">
                <p class="w-[80px]">Percentage:</p>
                <input minlength="1" required #percentage (keyup)="PercentOnly(percentage)" name="Percentage" id="Percentage" class="w-[150px] border-2 border-bluemaincolor rounded-2 p-2" type="number" [ngModel]="SelectedEntity.percentage">
            </div>
            <div class="d-flex align-items-center gap-2">
                <p class="w-[80px]">State:</p>
                <select class="w-[150px] border-2 border-bluemaincolor rounded-2 p-2" name="Status" [ngModel]="SelectedEntity.state">
                    <option class="text-black" value="Open">Open</option>
                    <option class="text-black" value="Closed">Closed</option>
                </select>
            </div>
        </section>
    </section>
    
    <section class="d-flex justify-content-end align-items-end gap-2 text-light">
        <button [routerLink]="['/inside/details/']" type="button" class="bg-[#FB4D00] px-3 py-1">Back</button>
        <button (click)="AddProgram(f)" type="button" class="transition-all duration-700 hover:bg-[#a3aee9] bg-[#7F87B4] px-3 py-1">Add</button>
        <button (click)="Submit()" type="button" class="transition-all duration-700 hover:bg-[#a3aee9] bg-[#7F87B4] px-3 py-1">Submit</button>
    </section>
</form>

@for (Program of Programs; track $index) 
{
    <article class="w-[400px] p-2 d-flex flex-col m-auto mt-5 gap-3 text-light bg-bluemaincolor">
        <div class="d-flex justify-end gap-2">
            <button (click)="EditProgram(Program)" type="button" class="w-fit h-fit"><i class="fa-solid fa-pen-fancy fs-3"></i></button>
            <button (click)="Programs.splice(Programs.indexOf(Program), 1)" type="button" class="w-fit h-fit"><i class="fa-solid fa-circle-xmark fs-3"></i></button>
        </div>
        <section class="d-flex gap-3">
            <section class="d-flex flex-col gap-2">
                <div class="d-flex align-items-center gap-2">
                    <input [value]="Program.step" readonly class="form-control" type="text">
                </div>
                <div class="d-flex align-items-center gap-2">
                    <textarea readonly class="form-control resize-none h-[130px]">{{Program.description}}</textarea>
                </div>
            </section>
            <section class="d-flex flex-col gap-2 align-items-center">
                <div class="d-flex align-items-center gap-2">
                    <p class="w-[80px]">Start Date:</p>
                    <input [value]="Program.startDate.split('T')[0]" readonly class="w-[150px] border-2 border-bluemaincolor rounded-2 p-2" type="text">
                </div>
                <div class="d-flex align-items-center gap-2">
                    <p class="w-[80px]">End Date:</p>
                    <input [value]="Program.endDate.split('T')[0]" readonly class="w-[150px] border-2 border-bluemaincolor rounded-2 p-2" type="text">
                </div>
                <div class="d-flex align-items-center gap-2">
                    <p class="w-[80px]">Percentage:</p>
                    <input [value]="Program.percentage" readonly class="w-[150px] border-2 border-bluemaincolor rounded-2 p-2" type="number">
                </div>
                <div class="d-flex align-items-center gap-2">
                    <p class="w-[80px]">State:</p>
                    <input readonly class="form-control" type="text" [value]="Program.state">
                </div>
            </section>
        </section>
    </article>
}
