<header>
    <nav class="d-flex justify-between bg-[#505674] p-2 align-items-center">
        <h1 [routerLink]="['/home']" class="text-light cursor-pointer">Elrouby</h1>
        <div *ngIf="linker.CheckAccountEmployeeValue" class="d-flex gap-3 relative">

            <div class="dropdown">
                <button class="bg-light rounded-full p-3" data-bs-toggle="dropdown" aria-expanded="false">
                    <img width="30" height="30" src="personal.png" alt="">
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item bg-success">{{linker.Employee()!.username}}</a></li>
                  <li>
                    <a class="dropdown-item bg-warning">
                        @switch (linker.Employee()!.type) 
                        {
                            @case (0) 
                            {
                                {{'Normal'}}
                            }
                            @case (1) 
                            {
                                {{'Supervisor'}}
                            }
                            @case (2) 
                            {
                                {{'Manager'}}
                            }
                        }
                    </a>
                  </li>
                  <li (click)="LogOut()" class="cursor-pointer bg-red-600"><a class="dropdown-item">Log out</a></li>
                </ul>
            </div>
            
            <app-bellnotify></app-bellnotify>

        </div>
    </nav>
</header>