<app-navigator [Summary]="true" [Decision]="true"></app-navigator>

<article>
    <section class="bg-bluemaincolor d-flex gap-3 p-3 text-light flex-col w-fit m-auto mt-3 mb-3">
        <article class="d-flex justify-center align-items-center gap-5">
            <section class="d-flex gap-3 flex-col">
                <div class="d-flex gap-2">
                    <p>Item 1</p>
                    <input #input1 (keyup)="FromOneToTen(input1)" (click)="FromOneToTen(input1)" [ngModel]="EvaluationIn.item1" class="w-[100px] border-2 border-bluemaincolor p-1" type="number">
                </div>
                <div class="d-flex gap-2">
                    <p>Item 2</p>
                    <input #input2 (keyup)="FromOneToTen(input2)" (click)="FromOneToTen(input2)" [ngModel]="EvaluationIn.item2" class="w-[100px] border-2 border-bluemaincolor p-1" type="number">
                </div>
                <div class="d-flex gap-2">
                    <p>Item 3</p>
                    <input #input3 (keyup)="FromOneToTen(input3)" (click)="FromOneToTen(input3)" [ngModel]="EvaluationIn.item3" class="w-[100px] border-2 border-bluemaincolor p-1" type="number">
                </div>
                <div class="d-flex gap-2">
                    <p>Item 4</p>
                    <input #input4 (keyup)="FromOneToTen(input4)" (click)="FromOneToTen(input4)" [ngModel]="EvaluationIn.item4" class="w-[100px] border-2 border-bluemaincolor p-1" type="number">
                </div>
                <div class="d-flex gap-2">
                    <p>Item 5</p>
                    <input #input5 (keyup)="FromOneToTen(input5)" (click)="FromOneToTen(input5)" [ngModel]="EvaluationIn.item5" class="w-[100px] border-2 border-bluemaincolor p-1" type="number">
                </div>
                <div class="d-flex gap-2">
                    <p>Item 6</p>
                    <input #input6 (keyup)="FromOneToTen(input6)" (click)="FromOneToTen(input6)" [ngModel]="EvaluationIn.item6" class="w-[100px] border-2 border-bluemaincolor p-1" type="number">
                </div>
                <div class="d-flex gap-2">
                    <p>Item 7</p>
                    <input #input7 (keyup)="FromOneToTen(input7)" (click)="FromOneToTen(input7)" [ngModel]="EvaluationIn.item7" class="w-[100px] border-2 border-bluemaincolor p-1" type="number">
                </div>
            </section>
            
            <section class="border-2 border-bluemaincolor d-flex flex-col gap-3 p-3 w-[200px]">
                <div class="d-flex justify-between bg-success text-light p-2 rounded-sm">
                    <p>{{EvaluationIn.numberOfAccepted}} out of {{EvaluationIn.countOf}} Accepted</p>
                    <p>{{(EvaluationIn.numberOfAccepted / EvaluationIn.countOf) * 100}}%</p>
                </div>
                <div class="d-flex justify-between bg-warning text-light p-2 rounded-sm">
                    <p>{{EvaluationIn.numberOfEnhancement}} out of {{EvaluationIn.countOf}} Need Enhancement</p>
                    <p>{{(EvaluationIn.numberOfEnhancement / EvaluationIn.countOf) * 100}}%</p>
                </div>
                <div class="d-flex justify-between bg-danger text-light p-2 rounded-sm">
                    <p>{{EvaluationIn.numberOfRejected}} out of {{EvaluationIn.countOf}} Rejected</p>
                    <p>{{(EvaluationIn.numberOfRejected / EvaluationIn.countOf) * 100}}%</p>
                </div>
                <hr/>
                <div class="d-flex align-items-center gap-2 bg-success text-light p-2 rounded-sm">
                    <input class="scale-150" type="radio" name="IsAccepted">
                    <label>Accepted</label>
                </div>
                <div class="d-flex align-items-center gap-2 bg-warning text-light p-2 rounded-sm">
                    <input class="scale-150" type="radio" name="IsAccepted">
                    <label>Need Enhancement</label>
                </div>
                <div class="d-flex align-items-center gap-2 bg-danger text-light p-2 rounded-sm">
                    <input class="scale-150" type="radio" name="IsAccepted">
                    <label>Rejected</label>
                </div>
            </section>
        </article>
        <div class="d-flex gap-2">
            <label>Remarks:</label>
            <input [ngModel]="EvaluationIn.remarks" class="w-[300px] border-2 border-bluemaincolor p-1" type="text">
        </div>
        <section class="d-flex justify-content-end align-items-end gap-2 text-light">
            <button [routerLink]="['/signedinhome']" type="button" class="bg-[#FB4D00] px-3 py-1">Cancel</button>
            <button (click)="SaveDecision()" type="submit" class="transition-all duration-700 hover:bg-[#a3aee9] bg-[#7F87B4] px-3 py-1">Submit</button>
        </section>
    </section>
</article>