<button [attr.data-count]="Counter" data-bs-toggle="modal" data-bs-target="#exampleModal" class="bg-light rounded-full p-3 before:w-[25px] before:rounded-full before:h-[25px] before:content-[attr(data-count)] before:absolute before:top-0 before:right-0 before:bg-red-500">
    <img width="30" height="30" src="bell.png" alt="">
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Notifications</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          @for (managernotf of ManagerNotifications; track $index) 
          {
            <div class="border-2 border-bluemaincolor p-3">
              <p>{{managernotf.title}}</p>
              <textarea class="resize-none w-[90%] h-[100px]">{{managernotf.description}}</textarea>
              <button type="button" (click)="GotoNotifyManager(managernotf)" class="btn btn-primary">Check</button>
            </div>
          }


          <div class="border-2 border-bluemaincolor p-3" *ngFor="let supernotf of SupervisorNotifications">
            <p>{{supernotf.title}}</p>
            <textarea class="resize-none w-[90%] h-[100px]">{{supernotf.description}}</textarea>
            <button (click)="GotoNotify(supernotf)" class="btn btn-primary">Check</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>